*{
    textarea:disabled{
        cursor: not-allowed;
    }
    .terms:checked+span{
        color:green;
    }
    .terms+span{
        color: red;
    }
    .terms~button{
        display:none;
    }
    .terms:checked~button{
        display: block;
    }
}