*{
    img{
        width: 50px;
        height: 50px;
        transition: 5s;
    }
    img:active{
        width: 350px;
        height: 350px;
        transition: 2s;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}